:root {
  font-family: "Roboto", sans-serif;
  --lightgray: #f2f5f5;
  --primary-color: #2aaeb7;
  --text-color: #2e3333;
  --p-color: #808484;
  --box-shadow: 0px 9px 19px #d2d2d2;
  --box-shadow-light: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --bg-color: #eaedee;
  --border-bottom: 1px solid #cccccc;
}
